body {
  background: lightgray;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  background: lightgrey;
}

nav ul li {
  display: inline-block;
  margin-left: 70px;
}

nav ul li a {
  text-decoration: none;
}

header {
  background: url("./assets/yoga_header.jpg");
  height: 400px;
  background-size: 100%;
  background-position: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 33%;
  max-width: 350;
  border-bottom: 3px solid transparent;
  margin-bottom: 50px;
  margin-left: 4px;
}

.item:hover {
  border-bottom-color: limegreen;
}

.item > .cover {
  width: 100%;
  height: 300px;
  background-size: 140%;
  background-position: center;
  margin-bottom: 20px;
}

.item:hover > .cover {
  background-size: 130%;
}

.edit-header {
  background: url("./assets/yoga_header.jpg") center;
  background-size: 100%;
  height: 300px;
  margin-bottom: 30px;
}
section {
  margin-top: 70px;
}
.item-container {
  display: flex;
  justify-content: space-around;
}

form {
  width: 60%;
}

form * {
  width: 100%;
  padding: 10px 0px;
}

.form-control input,
.form-control textarea {
  background: none;
  border: 1px solid #999;
  text-indent: 10px;
  font-size: 1.3rem;
}

.preview {
  max-width: 400px;
}

.preview img {
  width: 100%;
}

.btn {
  width: 30%;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}
.btn:hover {
  color: #fff;
  background: rgb(0, 189, 189);
}
.btn-delete {
  width: 50%;
  padding: none;
  border: 2px red solid;
  background: #ddd;
  border-radius: 4px;
}
.btn-delete:hover {
  background: red;
  color: #fff;
}
